*{
    background-color: black;
    color: white;
    text-decoration: 0;
}

header, footer{
    border: 1px solid rgb(255, 255, 255);
    min-height: 35vh;
    text-align: center;
    font-size: 350%
}

p{
    font-size: 150%;
}
