header, footer, div{
    border: 1px solid black;
    min-height: 15vh;
    padding: 3%;
    margin: 0;
}

nav{
    border: 1px solid black;
    min-height: 6vh;
    padding: 3%;
    margin: 0;
}

.img{
    border: 1px solid black;
    min-height: 12vh;
    padding: 3%;
    margin: 0;
    aspect-ratio: 1 / 2;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    border: 1px solid black;
    padding: 3%;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 50px;
}

@media(min-width: 600px){

}
