*{
    font-size: large;
}

header, footer, div{
    border: 1px solid black;
    min-height: 35vh;
    padding: 3%;
    margin: 0;
}

nav{
    border: 1px solid black;
    min-height: 6vh;
    padding: 3%;
    margin: 0;
}

.imgBox img{
    border: 1px solid black;
    margin: 0;
    aspect-ratio: 1 / 2;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}



main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    border: 1px solid black;
    padding: 3%;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 500%;
}

@media(min-width: 600px){

}
