*{
    background-color: black;
    color: white;
    text-decoration: 0;
}

header, main, footer{
    border: 1px solid rgb(107, 107, 107);
    min-height: 35vh;
    text-align: center;
    font-size: 350%
}