*{
    font-size: large;
    background-color: #000000;
    color: white;
    text-decoration: none;
}

header, footer, div{
    border: 1px solid rgb(124, 124, 124);
    min-height: 35vh;
    padding: 3%;
    margin: 0;
}

nav{
    border: 1px solid rgb(255, 255, 255);
    min-height: 6vh;
    padding: 3%;
    margin: 0;
}

.imgBox img{
    border: 1px solid rgb(255, 255, 255);
    margin: 0;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}

.headerBox img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headerBox{
    aspect-ratio: 2/1;
    overflow: hidden;
}

header{
    display: grid;

}

main{
    display: grid;
   
    gap: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 3%;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 1.2rem;
}

@media(min-width: 600px){
    main{
    
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    h1{
    text-align: center;
    font-size: 2rem;
    }

    .headerBox{
        aspect-ratio: 2.5/1;
        overflow: hidden;
    }
}
