*{
    font-size: large;
    background-color: #000000;
    color: white;
}

header, footer, div{
    border: 1px solid rgb(124, 124, 124);
    min-height: 35vh;
    padding: 3%;
    margin: 0;
}

nav{
    border: 1px solid rgb(255, 255, 255);
    min-height: 6vh;
    padding: 3%;
    margin: 0;
}

.imgBox img{
    border: 1px solid rgb(255, 255, 255);
    margin: 0;
    aspect-ratio: 1 / 2;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}

.headerBox img{
    aspect-ratio: 2/1;
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 3%;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 500%;
}

@media(min-width: 600px){

}
